{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
<section class="p-50-50-0">

    <div class="row">
        <div class="col m5 d-flex flex-column ai-center jc-center h-75vh">
            <div class="d-flex flex-column">
                <h3 class="raleway fw-700 color-1 separator fs-24 no-margin text-center">A PROPOS</h3>
                <div>
                    <p>
                        Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. D
                        e carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia?
                         De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, 
                         imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. 
                         Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater,
                          suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro.
                           Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
                    </p>
                </div>
                <div>
                    <p>
                        Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. D
                        e carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia?
                         De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, 
                         imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. 
                         Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater,
                          suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro.
                           Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
                    </p>
                </div>
            </div>

        </div>

        <div class="col m5 d-flex flex-column jc-center h-75vh offset-m2">

        <img src="../img/bolet.jpg" alt="Champignon" class="responsive-img" />

            
        </div>
    </div>

</section>
   
{% endblock %}