{% extends 'base.html.twig' %}

{% block body %}

<section class="bg-color-1 h-100vh animation">
    <div class="container h-100pct valign-wrapper center-align">
        <div class="row">
            <div class="col m12 l12">
                <img src="img/cs_logo_blanc_txt.svg" alt="ChampiSpot" class="responsive-img">
            </div>
        </div>
    </div>
</section>

<section class="container mt-50 d-flex-mobile w-100-mobile">
    <div class="row center-align">
        <div class="d-flex flex-column col m12 no-padding-mobile">
            <img src="img/cs_logo_orange-st.svg" alt="logo" class="responsive-img">

            <form action="{{ path('security_login') }}" method="post"  class="col m12 mt-50">
                <div class="row d-flex flex-column ai-center no-margin">

                    <div class="d-inline-flex flex-column ai-flex-start">
                        <label for="pseudo" class="fs-14 color-1 raleway">Identifiant</label>
                        <input class="browser-default input-1" type="text" required name="_username" id="pseudo">
                    </div>
                    
                    <div class="d-inline-flex flex-column ai-flex-start mt-10">
                        <label for="mdp" class="fs-14 color-1 raleway">Mot de passe</label>
                        <input class="browser-default input-1" type="password" required name="_password" id="mdp">
                    </div>

                    <div class="mt-20">
                        <input type="submit" value="Connexion" class="no-border-radius waves-effect waves-light input-action bg-color-3">
                    </div>

                    <div class="mt-20">
                        <input type="button" class="button-action" value="Mot de passe oublié" onclick="window.location.href='/oubli-mdp'">
                    </div>

                    <div class="mt-20">
                        <h5 class="fs-12 raleway fw-500">Aucun compte ?</h5>
                        <input type="button" class="button-action" value="S'inscrire" onclick="window.location.href='/inscription'">
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>

{% endblock %}