{% extends 'base.html.twig' %}

{% block body %}

<section class="bg-color-1 h-100vh">
    <div class="container center">
        <img src="img/cs_logo_blanc.svg" class="m-auto">
    </div>
</section>

<section class="h-100vh">
    <h1>Connexion !</h1>

    <form action="{{ path('security_login') }}" method="post">

        <label for="pseudo">Pseudo</label>
        <input type="text" required name="_username" id="pseudo">

        <label for="mdp">Mot de passe</label>
        <input type="password" required name="_password" id="mdp">

        <input type="submit" value="Connexion">

    </form>
</section>

{% endblock %}