{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <p>Vous êtes jérôme le designer?</p>
    <p>OUIOUIOUIOUIOUI !</p>
{# 
    {% for commentaire in comment %}

        <p>Ceci est l'interweb : {{ commentaire.comIdUserId }}</p>
        <p>Ceci est l'id spot : {{ commentaire.comIdSpotId }}</p>
        <p>Ceci est le texte : {{ commentaire.comText }}</p>

    {% endfor %}
 #}

{% endblock %}
