body {position: relative;}  

/*--------------------------------------*/
/*--------------GENERIQUE---------------*/

    /*--------------------------------------*/
    /*----------ANIMATION ACCUEIL-----------*/

    @keyframes ecranAccueil {
        0%   { 
            opacity: 1;
            z-index: 9999;
        }
        50%  { opacity: 1; }
        100% { 
            opacity: 0;
            z-index: -1; 
        }
    }

    .animation {
        opacity: 0;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right:0;
        bottom:0;
        animation: ecranAccueil 3s;
        -webkit-animation: ecranAccueil 3s;
        animation-iteration-count: 1;
    }

    /*--------------------------------------*/
    /*----------COULEURS/BACKGROUND---------*/

    .color-1{color: #F37A3A;}
    .color-2{color: #333333;}
    .color-3{color: white;}

    .bg-color-1{
        background: rgb(247,85,38); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgb(247,85,38) 0%, rgb(244,122,59) 70%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgb(247,85,38) 0%,rgb(244,122,59) 70%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgb(247,85,38) 0%,rgb(244,122,59) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75526', endColorstr='#f47a3b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .bg-color-2{background-color:#FFFFFF;}
    .bg-color-3{background-color: #F37A3A;}

    .border-bot-1{border-bottom: 1px solid #E9E9E9;}
    .no-border-radius{border-radius:0;}

    /*------------------------------------*/
    /*---------------TAILLES--------------*/

    .w-100pct{width: 100%;}

    .h-100vh{height: 100vh;}
    .h-75vh{height:75vh;}

    .h-100pct{height: 100%;}

    .h-100px{height:100px;}

    /*------------------------------------*/
    /*----------------FONTS--------------*/

    .raleway{font-family: 'Raleway', sans-serif;}

    .fw-300{font-weight:300;}
    .fw-500{font-weight: 500;}
    .fw-700{font-weight:700;}

    .fs-12{font-size: 12px;}
    .fs-14{font-size: 0.875rem;}
    .fs-20{font-size: 20px;}
    .fs-24{font-size:24px;}

    /*-----------------------------------*/
    /*----------------FLEX---------------*/

    .d-flex{display: flex;}

    .jc-center{justify-content: center;}
    .jc-space-between{justify-content: space-between;}
    .jc-space-around{justify-content: space-around;}

    .jc-flex-start{justify-content:flex-start;}

    .ai-center{align-items:center;}
    .ai-flex-end{align-items:flex-end;}
    .ai-flex-start{align-items:flex-start;}

    .align-self-center{align-self:center;}

    .flex-column{flex-direction: column;}

    /*------------------------------------*/
    /*-----------MARGING/PADDING----------*/

    .no-margin{margin: 0;}
    .no-padding{padding:0;}
    .no-margin-bottom{margin-bottom:0;}
    .mt-10{margin-top:10px;}
    .mt-20{margin-top:20px;}
    .mt-50{margin-top: 50px;}

    .pt-50{padding-top:50px;}

    .p-10-50{padding:10px 50px;}
    .p-50-50-0{padding:50px 50px 0;}

    /*------------------------------------*/
    /*---------------TEXT-----------------*/

    .text-center{text-align:center;}

    /*------------------------------------*/
    /*--------------DISPLAY---------------*/

    .d-block{display:block;}
    .d-none{display:none;}
    .d-inline-flex{display: inline-flex;}

    /*------------------------------------*/
    /*--------------GENERAL---------------*/

    .box-shadow-none{box-shadow:none;}

/*------------------------------------*/
/*--------------SPECIFIQUE------------*/

    /*------------------------------------*/
    /*--------------GENERAL---------------*/

    .separator::after{      /* Séparateur centré */
        content: "";
        display: block;
        height: 1px;
        width: auto;
        background-color: #E8910C;
        margin: 10px 0px 20px;
        
    }

    .map{
        height:75vh;
    }
    
    /*------------------------------------*/
    /*--------------IMAGES------------*/
    .profile-img{
        width:150px;
        height:150px;
    }

    /*------------------------------------*/
    /*--------------MODAL------------*/

    .modal {
        display: none;
        z-index:9999;
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
        background-color: blue;
        max-height: 70%;
        width: 80%;
        margin: auto;
        overflow-y: auto;
        will-change: top, opacity;
    }
    
    /*------------------------------------*/
    /*----------------BUTTON--------------*/

    .input-action input[type="submit"]{
        background-color: #F37A3A;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        padding: 10px 100px;
    }

    .button-secondary{
        background-color: #F37A3A;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        width:100%;
        padding: 10px;
        border:none;
        transition: .5s;
    }
    .button-secondary:hover{
        background: transparent;
        color: #F37A3A;
        border: 1px solid #F37A3A;
    }

    .button-action{
        background-color: #F37A3A;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        padding: 10px 20px;
        border:0;
        width:200px;
    }

    .input-1{
        padding: 10px;
        border: 1px solid #707070;
    }

    /*------------------------------------*/
    /*----------------Formulaire--------------*/

    .block-form label{
        display:block;
        text-align:left;
        color:#F37A3A;
        font-family: "Raleway";
        font-size:12px;
    }

    .block-avatar label{
        font-size:22px;
        cursor:pointer;
    }

    [type="radio"]:not(:checked), [type="radio"]:checked {
        position: relative;
        opacity: 1;
        pointer-events: all;
     }
    
/*------------------------------------*/
/*--------------MEDIA QUERIES------------*/

@media screen and (max-width: 600px) {
    .no-padding-mobile{
        padding:0 !important; 
    } 
    .no-margin-mobile{
        margin:0;
    }
    .m-t-25-mobile{
        margin-top:25px;
    }
    .d-none-mobile{
        display:none;
    }
    .d-block-mobile{
        display:block;
    }
    .d-flex-mobile{
        display:flex;
    }
    .flex-column-reverse-mobile{
        flex-direction: column-reverse;
    }
    .sidenav li>a{
        color:white;
        font-size: 18px;
        font-weight:700;
    }
    .leaflet-bottom, .leaflet-top, .leaflet-control{
        z-index:400;
    }
    .w-100-mobile{
        width:100%;
    }
    .p-50-t-mobile{
        padding:50px 0 0 0;
    }
    .map-mobile{
        height:50vh;
    }
    .h-100pct-mobile{
        height:100%;
    }
}