body {position: relative;   }  
.map{
    height:50vh;
}

/*--------------------------------------*/
/*----------ANIMATION ACCUEIL---------*/

@keyframes ecranAccueil {
    0%   { 
        opacity: 1;
        z-index: 9999;
    }
    50%  { opacity: 1; }
    100% { 
        opacity: 0;
        z-index: -1; 
    }
}

.animation {
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    animation: ecranAccueil 3s;
    -webkit-animation: ecranAccueil 3s;
    animation-iteration-count: 1;
}

/*--------------------------------------*/
/*----------COULEURS/BACKGROUND---------*/

.color-1{color: #F37A3A;}
.color-2{color: #333333;}
.color-3{color: white;}

.bg-color-1{
    background: rgb(247,85,38); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(247,85,38) 0%, rgb(244,122,59) 70%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(247,85,38) 0%,rgb(244,122,59) 70%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(247,85,38) 0%,rgb(244,122,59) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75526', endColorstr='#f47a3b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-color-2{background-color:#FFFFFF;}

.border-bot-1{border-bottom: 1px solid #E9E9E9;}

/*------------------------------------*/
/*---------------TAILLES--------------*/

.w-100pct{width: 100%;}

.h-100vh{height: 100vh;}

.h-100pct{height: 100%;}

.h-100px{height:100px;}

/*------------------------------------*/
/*----------------FONTS--------------*/

.raleway{font-family: 'Raleway', sans-serif;}

.fs-12{font-size: 12px;}
.fs-14{font-size: 0.875rem;}
.fs-20{font-size: 20px;}

/*-----------------------------------*/
/*----------------FLEX---------------*/

.d-flex{display: flex;}

.jc-center{justify-content: center;}
.jc-space-between{justify-content: space-between;}
.jc-space-around{justify-content: space-around;}

.jc-flex-start{justify-content:flex-start;}

.align-self-center{align-self:center;}

.flex-column{flex-direction: column;}

/*------------------------------------*/
/*-----------MARGING/PADDING----------*/

.m-top50{margin-top: 50px;}

.pt-50{padding-top:50px;}

.p-10-50{padding:10px 50px;}

/*------------------------------------*/
/*--------------GENERAL---------------*/

.box-shadow-none{box-shadow:none;}




