{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
<section class="pt-50">
    
    <div class="map" id="mapid"></div>
    <p id="infoposition"></p>

    <input type="hidden" name="lat" id="lat"/> 
    <input type="hidden" name="lng" id="lng"/>

    {%   for spot in spots   %}
        <input type="hidden" data-lat="{{ spot.SPOLatitude }}" data-long="{{ spot.SPOLongitude }}" data-img="{{  spot.SPOPhoto  }}" name="lnglat" id="lnglat" class="lnglat" />
    {%   endfor   %}

</section>
   
{% endblock %}