{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <p>Page de profil de {{   infos.USENom   }}  aka {{   infos.username   }}</p>
    <p>Oui bonjour</p>
{% endblock %}